.App-header {
  padding-top: 100px;
  background-color: #e9ab37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: rgb(82, 36, 28);
  border-color: #e9ab37;
  color: rgb(221, 218, 218);
}
